apiVersion: v1
kind: ConfigMap
metadata:
  name: ixiatg-release-config
  namespace: ixiatg-op-system
data:
  versions: |
    {
      "release": "0.0.1-4064",
      "images": [
            {
                "name": "controller",
                "path": "ghcr.io/open-traffic-generator/licensed/ixia-c-controller",
                "tag": "0.0.1-4064"
            },
            {
                "name": "gnmi-server",
                "path": "ghcr.io/open-traffic-generator/ixia-c-gnmi-server",
                "tag": "1.11.13"
            },
            {
                "name": "traffic-engine",
                "path": "ghcr.io/open-traffic-generator/ixia-c-traffic-engine",
                "tag": "1.6.0.35"
            },
            {
                "name": "protocol-engine",
                "path": "ghcr.io/open-traffic-generator/licensed/ixia-c-protocol-engine",
                "tag": "1.02.21.17"
            }
        ]
    }
