[submodule "submodules/otgen"]
	path = submodules/otgen
	url = https://github.com/open-traffic-generator/otgen.git
[submodule "snappi/conformance"]
	path = snappi/conformance
	url = https://github.com/open-traffic-generator/conformance.git
