flake8 == 3.8.4
dpkt == 1.9.4
snappi == 0.13.0
numpy == 1.22.1
scapy[basic]
deepdiff
beautifultable
pytest == 6.2.5
pytest-html
pytest-metadata == 1.11.0
grpcio-tools == 1.54.2
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-grpc
opentelemetry-exporter-otlp-proto-grpc
