services:
  controller:
    image: ghcr.io/open-traffic-generator/keng-controller:1.5.1-12
    command: --accept-eula --http-port 8443
    network_mode: "host"
    restart: always
  traffic_engine_1:
    image: ghcr.io/open-traffic-generator/ixia-c-traffic-engine:1.8.0.12
    restart: always
    privileged: true
    ports:
      - "5555:5555"
      - "50071:50071"
    environment:
      - OPT_LISTEN_PORT=5555
      - ARG_IFACE_LIST=virtual@af_packet,veth0
      - OPT_NO_HUGEPAGES=Yes
      - OPT_NO_PINNING=Yes
      - WAIT_FOR_IFACE=Yes
  traffic_engine_2:
    image: ghcr.io/open-traffic-generator/ixia-c-traffic-engine:1.8.0.12
    restart: always
    privileged: true
    ports:
      - "5556:5556"
      - "50072:50071"
    environment:
      - OPT_LISTEN_PORT=5556
      - ARG_IFACE_LIST=virtual@af_packet,veth1
      - OPT_NO_HUGEPAGES=Yes
      - OPT_NO_PINNING=Yes
      - WAIT_FOR_IFACE=Yes
  protocol_engine_1:
    image: ghcr.io/open-traffic-generator/ixia-c-protocol-engine:1.00.0.383
    restart: always
    privileged: true
    network_mode: service:traffic_engine_1
    environment:
      - INTF_LIST=veth0
  protocol_engine_2:
    image: ghcr.io/open-traffic-generator/ixia-c-protocol-engine:1.00.0.383
    restart: always
    privileged: true
    network_mode: service:traffic_engine_2
    environment:
      - INTF_LIST=veth1
  layer23-hw-server:
    image: ghcr.io/open-traffic-generator/keng-layer23-hw-server:1.5.1-6
  gnmi-server:
    image: ghcr.io/open-traffic-generator/otg-gnmi-server:1.14.2
  traffic_engine_3:
    image: ghcr.io/open-traffic-generator/ixia-c-traffic-engine:1.8.0.12
  traffic_engine_4:
    image: ghcr.io/open-traffic-generator/ixia-c-traffic-engine:1.8.0.12
  traffic_engine_5:
    image: ghcr.io/open-traffic-generator/ixia-c-traffic-engine:1.8.0.12
  traffic_engine_6:
    image: ghcr.io/open-traffic-generator/ixia-c-traffic-engine:1.8.0.12
  operator:
    image: ghcr.io/open-traffic-generator/keng-hybrid-operator:0.0.4
topology:
  nodes:
    ixc:
      image: ghcr.io/open-traffic-generator/keng-controller:1.5.1-12
    te1:
      image: ghcr.io/open-traffic-generator/ixia-c-traffic-engine:1.8.0.12
    te2:
      image: ghcr.io/open-traffic-generator/ixia-c-traffic-engine:1.8.0.12
    pe1:
      image: ghcr.io/open-traffic-generator/ixia-c-protocol-engine:1.00.0.383
    pe2:
      image: ghcr.io/open-traffic-generator/ixia-c-protocol-engine:1.00.0.383
