services:
  controller:
    image: ghcr.io/open-traffic-generator/keng-controller:0.1.0-3
    command: --accept-eula --http-port 8443
    network_mode: "host"
    restart: always
  traffic_engine_1:
    image: ghcr.io/open-traffic-generator/ixia-c-traffic-engine:1.6.0.85
    restart: always
    privileged: true
    ports:
      - "5555:5555"
      - "50071:50071"
    environment:
    - OPT_LISTEN_PORT=5555
    - ARG_IFACE_LIST=virtual@af_packet,veth0
    - OPT_NO_HUGEPAGES=Yes
    - OPT_NO_PINNING=Yes
    - WAIT_FOR_IFACE=Yes
  traffic_engine_2:
    image: ghcr.io/open-traffic-generator/ixia-c-traffic-engine:1.6.0.85
    restart: always
    privileged: true
    ports:
      - "5556:5556"
      - "50072:50071"
    environment:
    - OPT_LISTEN_PORT=5556
    - ARG_IFACE_LIST=virtual@af_packet,veth2
    - OPT_NO_HUGEPAGES=Yes
    - OPT_NO_PINNING=Yes
    - WAIT_FOR_IFACE=Yes
  protocol_engine_1:
    image: ghcr.io/open-traffic-generator/ixia-c-protocol-engine:1.00.0.337
    restart: always
    privileged: true
    network_mode: service:traffic_engine_1
    environment:
    - INTF_LIST=veth0
  protocol_engine_2:
    image: ghcr.io/open-traffic-generator/ixia-c-protocol-engine:1.00.0.337
    restart: always
    privileged: true
    network_mode: service:traffic_engine_2
    environment:
    - INTF_LIST=veth2
  frr:
    image: quay.io/frrouting/frr:8.4.2
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - SYS_ADMIN
    volumes:
      - type: bind
        source: ./frr/daemons
        target: /etc/frr/daemons
      - type: bind
        source: ./frr/frr.conf
        target: /etc/frr/frr.conf
      - type: bind
        source: ./frr/vtysh.conf
        target: /etc/frr/vtysh.conf
